.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.container > a {
  padding: 0.5em 1.1em;
  background-color: rgb(235, 39, 147);
  border-radius: 10px;
}
.container > a:hover {
  background-color: rgba(235, 39, 147, 0.678);
}
