.container {
    margin-top: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
}
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeContainer>h1 , .homeContainer>p{
    font-size: 2.4em;
    margin: 10px ;
}
.btn{
    padding: 1em 5.5em;
    margin: 10px;
    background-color: rgb(240, 38, 38);
    color: white;
    border-radius: 10px;
}
.btn:hover {
    background-color: rgba(240, 38, 38, 0.856);
}